@model Employee
@{
    ViewData["Title"] = "EmployeeDetais By Id";
}

<h4> Hello, Welcome to @Model.Name's Details  </h4>
<div class="table-primary card card-header" >
 <h5 style="color:indianred">Employee Name: @Model.Name</h5>
 <h5 style="color:darkseagreen">Salary: @Model.Salary</h5>
 </div>


