@{
    ViewData["Title"] = "Home Page";
}


<div class="container p-lg-3 my-5 border">
    <div class="card-deck">
        <div class="col-3">
            <div class="card text-white mb-3 border-left-0 border-success" style="width: 240px; height: 180px;">
                <div class="card-header bg-success">Group A Employees</div>
                <div class="card-body text-success bg-light">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white  mb-3 border-left-0 border-secondary" style="width: 240px; height: 180px;">
                <div class="card-header bg-secondary">Group B Employees</div>
                <div class="card-body text-secondary bg-light">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card  mb-3 border-left-0 border-primary" style="width: 240px; height: 180px;">
                <div class="card-header text-white bg-primary">Group c Employees</div>
                <div class="card-body text-primary bg-light">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="card  mb-3 border-left-0 border-danger" style="width: 240px; height: 180px;">
                <div class="card-header text-white bg-danger">Group D Employees</div>
                <div class="card-body text-danger bg-light">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-3 my-5 border">
    </div>
